<%= render @user %>

<%= link_to 'Friends', friends_path %>
<%= link_to 'Friend Requests', user_friend_requests_path(@user) if @user == current_user %>

<%= render 'friend_buttons', user: @user, friend_request: @friend_request %>

<% if @user == current_user %>
  <div class="mb-3">
    <%= render partial: 'posts/form', locals: {author: @user, post: Post.new } %>
  </div>
<% end %>

<% @posts.each do |post| %>
  <div class="container mb-3 card">
    <%= render partial: 'posts/post', locals: { post: post } %>
    <%= link_to "Show this post", user_post_path(post.author, post) %>
  </div>
<% end %>
