<div class="container" id="<%= dom_id post %>">
  
  <article class="container mb-2">
      <p class="pt-3"><%= post.body %></p>
      <small>
        <span>by <%= link_to post.author.full_name, post.author %></span>
        <%# TODO: make a tooltip with the full time visible when hovering over it %>
        <span><%= time_ago_in_words post.created_at %> ago</span>
      </small>
      <p><%= post.likes.size %> like(s)</p>
    </article>

  <p><%= render partial: 'likes/button', locals: { likeable: post } %></p>
  <p><%= render partial: 'comments/comments', locals: { commentable: post } %></p>
  <p><%= render partial: 'comments/form', locals: { commentable: post } %></p>
</div>
