<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= link_to post.author.full_name, post.author %>
  </p>

  <p><%= post.likes.size %> like(s)</p>
  <p><%= render partial: 'likes/button', locals: { likeable: post } %></p>
  <p><%= render partial: 'comments/comments', locals: { commentable: post } %></p>

</div>
