<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= link_to "#{post.author.first_name} #{post.author.last_name}", post.author %>
  </p>

  <p><%= post.likes.count %> like(s)</p>
  <p><%= render partial: 'likes/button', locals: { likeable: post } %></p>

</div>
